html body {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: 'Jua'
}

header {
    width: 100%;
    height: 8vh;
    position: relative;
}

img#logo {
    width: 80px;
    height: 60px;
    margin-left: 10px;
    margin-top: 10px;
    position: absolute;
}

#title {
    font-size: 1em;
    margin-left: 90px;
    margin-top: 18px;
    position: absolute;
    font-family: 'Jua', sans-serif;
    font-size: 2em;
}

header>nav#secondHeader {
    margin-top: 10px;
}

header>#addMatch {
    margin: 15px 43%;
    position: absolute;
}

#secondHeader {
    margin: 0px;
    padding: 0px;
}

ul#navHeader {
    margin-top: 0px;
    width: 200px;
    margin-left: 85%;
    list-style: none;
    display: inline-sblock;
}

ul#navHeader li {
    margin-top: 35px;
    margin-right: 20px;
    display: inline-block;
}

#map {
    border: 0.5px solid #cccccc;
    width: 65%;
    position: absolute;
    height: 84vh;
}

#sidebar {
    border: 0.5px solid #cccccc;
    border-radius: 0.5px 0.5px;
    width: 35%;
    height: 84vh;
    margin-left: 65%;
}

#sidebar #tab {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 10px;
}

#sidebar #tab li {
    width: calc(100%/7.5);
    margin: 0 0 0 0;
    padding: 5px 5px 5px 5px;
    border: 0;
    display: inline-block;
    margin-top: 10px;
    text-align: center;
}

#sidebar #tab li:hover {
    background-color: #96bfdb;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}

#sidebar #tab p {
    margin: 0px;
}

#sidebar #tab .p_date {
    font-size: 16px;
}

#sidebar #tab .day {
    font-size: 18px;
    text-align: center;
}

#sidebar .contents {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    position: relative
}

#sidebar .contents .matchTime {
    display: inline-block;
    position: absolute;
    margin-top: 20px;
    margin-left: 17px;
}

#sidebar .contents .matchContent {
    display: inline-block;
    margin-top: 10px;
    margin-left: 110px;
}

footer {
    height: 8vh;
    width: 100%;
    text-align: center;
    background-color: cadetblue;
    line-height: 8vh;
}